*
{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body
{
    font-family: Arial, Helvetica, sans-serif;
}

a, button
{
    outline: none;
}

header
{
    height: 80px;
    background-color: #484848;
    -webkit-box-shadow: 0px 0px 5px 3px rgba(0,0,0,0.25);
    -moz-box-shadow: 0px 0px 5px 3px rgba(0,0,0,0.25);
    box-shadow: 0px 0px 5px 3px rgba(0,0,0,0.25);
}

.site-content
{
    display: grid;
    grid-template-columns: repeat(12,1fr);
}

.blog-part
{
    grid-column: 1/13;
}

.blogpost-container
{
    min-height: 1000px;
    padding: 1em;

    overflow-y: auto;    
    overflow-x: hidden;

    border-bottom: 1px #484848 solid;
}

.blogpost-date
{
    margin-bottom: 1em;
}

#text
{
    margin-top: 2em;
    color: #484848;
    font-size: .9em;
    list-style-position: inside;
}

#text a
{
    font-weight: bold;
    text-decoration: none;
    color: #e37676;
}

#text pre
{
    overflow-x: auto;
}

/*--Blog Nav--*/
.blog-nav-container
{
    height: 100%;
}

.blog-nav-content h2
{
    
    margin: .5em .5em 0em .5em;
    font-size: 1.5em;
}

.blog-nav-content
{
    height: 100%;

}

#blog-nav-options
{
    padding: 1em 1em 1em 0em;
}

#blog-nav-options button
{
    width: 100%;
    text-align: left;
    padding-left: 1em;

    background: none;
    border: none;
    cursor: pointer;
    font-size: 1em;
    font-weight: bold;
    outline: none;
}

#blog-nav-options button:hover
{
    color: #e37676;
}

/** First Prev Next Last **/

.button-post-select
{
    background: none;
    border: none;
    cursor: pointer;
    font-size: 1em;
    font-weight: bold;
    outline: none;
}

.button-post-select:hover
{
    color: #e37676;
}

.blogpost-prev-next-select
{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 1em;
}

/** Footer **/

footer
{
    display: grid;
    grid-column: 1/13;
    grid-template-columns: repeat(12,1fr);
    padding: 1em 0em 1em 0em;
    border-top: 1px #484848 solid;
}

.socials-container
{
    display: flex;
    grid-column: 1/13;
    flex-direction: row;
    justify-content: space-evenly;
}

footer img
{
    width: 50px;
}


@media only screen and (min-width: 768px) 
{
    .blog-part
    {
        grid-column: 2/12;
    }
}


@media only screen and (min-width: 1024px) 
{
    .blogpost-container
    {
        grid-column: 2/10;
        grid-row: 1;
    }

    .blog-nav-container
    {
        grid-column: 10/13;
        grid-row: 1;
    }

    .blogpost-prev-next-select
    {
        grid-column: 2/10;
    }   

    .socials-container
    {
        grid-column: 2/12;
        justify-content: start;
    }

    .socials-container img
    {
        margin-right: 1em;
    }


}

@media only screen and (min-width: 1440px) 
{
    .blogpost-container
    {
        grid-column: 3/9;
        grid-row: 1;
    }

    .blog-nav-container
    {
        grid-column: 9/11;
        grid-row: 1;
        font-size: 1.1em;
    }

    .blogpost-prev-next-select
    {
        grid-column: 3/9;
    }   

    .socials-container
    {
        grid-column: 3/11;
        justify-content: start;
    }
}

@media only screen and (min-width: 2560px) 
{
    #text
    {
       font-size: 1.5em;
    }

    .blog-nav
    {
        font-size: 1.5em;
    }
}