*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body
{
    background-color: #484848;
    color: lightgray;
}

header
{
    position: relative;
    height: 100vh;

    border-bottom: 1px lightgray solid;
}

.header-content
{
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translate(-50%,-50%);

    width: 100%;
    text-align: center;

    font-size: 1em;
    
}

.site-content
{
    display: grid;
    grid-template-columns: repeat(12, 1fr);
}

.section
{
    grid-column: 2/12;
}

/*Portfolio*/

.portfolio-content
{
    display: grid;
    grid-template-columns: repeat(12,1fr);
}

.Project
{
    display: none;
    position: relative;
    grid-column: span 12;
    margin: 1em 0em 1em 0em;
}

.Project.active
{
    display: initial;
}

.project-title
{
    margin-bottom: 1em;
}

.project-card
{
    position: relative;
}

.project-description
{
    position: absolute;   
    margin: 1em;

    color: #222222;
}

.project-image img
{
    width: 100%;
}

.Project button
{
    position: absolute;
    bottom: 5%;
    right: 5%;

    width: 20px;
    height: 20px;
}


@media only screen and (min-width: 768px) {
    .Project
    {
        grid-column: span 4;
        margin: 1em;
    }
  }

  @media only screen and (min-width: 1024px) {
    .section
    {
        grid-column: 3/11;
    }
  }