*
{
    margin: 0;
    padding: 0;
    box-sizing: 0;
}

body
{
    font-family: Arial, Helvetica, sans-serif;
}

.site-content
{
    display: grid;
    grid-template-columns: repeat(12,1fr);
}

/** **/

.section
{
    display: grid;
    grid-column: 2/12;
    grid-template-columns: repeat(12,1fr);
    margin: 2em 0em 2em 0em;
}

.section-title, .section-text
{
    grid-column: 1/13;
}

.section-title
{
    margin: 0em 0em .5em 0em;
}

/** Portfolio **/

.portfolio-container
{
    display: grid;
    grid-template-columns: repeat(12,1fr);
    grid-column: 1/13;
}

.portfolio-content
{
    display: grid;
    grid-template-columns: repeat(12,1fr);
    grid-column: 1/13;
}

.portfolio-menu
{
    display: flex;
    grid-column: 1/13;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: start;
    margin: 1em 0em .5em 0em;
}

.portfolio-menu button
{
    margin-right: .5em;
    margin-bottom: .5em;
}

/** Project **/

.Project
{
    display: none;
    grid-column: 1/13;
    position: relative;
    grid-column: span 12;
    margin: 1em 0em 0em 0em;
}

.Project.active
{
    display: initial;
}

.project-title
{
    margin-bottom: .5em;
}

.project-card
{
    position: relative;
}

.project-description
{
    position: absolute;   
    margin: 1em;

    color: #222222;
}

.project-image
{
    width: 100%;
}

.project-button
{
    position: absolute;
    bottom: 5%;
    right: 5%;

    width: 20px;
    height: 20px;
}

/** Blog **/

.blogpost
{
    grid-column: 1/13;
    margin: 1em 0em 1em 0em;
    padding: 1em;
    border: 1px lightgray solid;
}

.blogpost button
{
    margin-top: 1em;
}

/** Footer **/

footer
{
    display: grid;
    grid-column: 1/13;
    grid-template-columns: repeat(12,1fr);
    padding: 1em 0em 1em 0em;
}

.socials-container
{
    display: flex;
    grid-column: 1/13;
    flex-direction: row;
    justify-content: space-evenly;
}

footer img
{
    width: 50px;
}

@media only screen and (min-width: 768px) {
    .Project
    {
        grid-column: span 4;
        margin: 1em;
    }
  }

  @media only screen and (min-width: 1024px) {
    .section
    {
        grid-column: 3/11;
    }

    .socials-container
    {
        grid-column: 3/11;
        justify-content: start;
    }

    .socials-container img
    {
        margin-right: 1em;
    }
  }