*
{
    margin: 0;
    padding: 0;
    box-sizing: 0;
}

body
{
    font-family: Arial, Helvetica, sans-serif;
}

.site-content
{
    display: grid;
    grid-template-columns: repeat(12,1fr);

}

/** **/

.project-overlay
{
    width: 100%;
    height: 100%;

    position: fixed;
    display: none;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0.5); 
    backdrop-filter: blur(5px);
    z-index: 2; 
}

.project-overlay.active
{
    display: block;
}

.project-overlay-content-container
{
    display: grid;
    grid-template-columns: repeat(12,1fr);
}

.project-overlay-exit
{
    margin: .5em;
    position: fixed;
    right: 0;
    top: 0;
    width: 2em;
    height: 2em;
    font-weight: bold;
    background: #484848;
    border: none;
    border-radius: 50%;
    color: whitesmoke;
    cursor: pointer; /* Add a pointer on hover */
    outline: none;
}

.project-overlay-exit:hover
{
    background-color: #646464;
}

.project-overlay-content
{
    grid-column: 3/11;
    padding: 5em 0em 5em 0em;

}

.section
{
    display: grid;
    grid-column: 2/12;
    grid-template-columns: repeat(12,1fr);
    margin: 2em 0em 2em 0em;
}

.section-title, .section-text
{
    grid-column: 1/13;
}

.section-title
{
    margin: 0em 0em .5em 0em;
}

/** Portfolio **/

.portfolio-container
{
    display: grid;
    grid-template-columns: repeat(12,1fr);
    grid-column: 1/13;
}

.portfolio-content
{
    display: grid;
    grid-template-columns: repeat(12,1fr);
    grid-column: 1/13;
    column-gap: 1em;
    row-gap: 1em;
}

.portfolio-menu
{
    display: flex;
    grid-column: 1/13;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: start;
    margin: 1em 0em .5em 0em;
}

.portfolio-menu button
{
    margin-right: .5em;
    margin-bottom: .5em;
}

/** Project **/

.Project
{
    display: none;
    grid-column: 1/13;
    position: relative;
    grid-column: span 12;

    margin: 1em 0em 0em 0em;
    cursor: pointer;
}

.Project.active
{
    display: initial;
    margin: 0;
}

.project-title
{
    margin-bottom: .5em;
}

.project-card
{
    position: relative;
}

.project-card:hover
{
    box-sizing: border-box;
    border: 3px whitesmoke solid;
}

.project-image
{
    width: 100%;
    object-fit: contain;
}

/** Blog **/

.blogpost
{
    grid-column: 1/13;
    margin: 1em 0em 1em 0em;
    padding: 1em;
    border: 1px lightgray solid;
}

.blogpost button
{
    margin-top: 1em;
}

/** Footer **/

footer
{
    display: grid;
    grid-column: 1/13;
    grid-template-columns: repeat(12,1fr);
    padding: 1em 0em 1em 0em;
}

.socials-container
{
    display: flex;
    grid-column: 1/13;
    flex-direction: row;
    justify-content: space-evenly;
}

footer img
{
    width: 50px;
}

@media only screen and (min-width: 768px) {
    .Project
    {
        grid-column: span 6;
        margin: 1em;
    }
  }

  @media only screen and (min-width: 1024px) {
    .section
    {
        grid-column: 3/11;
    }

    .socials-container
    {
        grid-column: 3/11;
        justify-content: start;
    }

    .socials-container img
    {
        margin-right: 1em;
    }
  }

  
  @media only screen and (min-width: 1440px) 
  {
    .Project
    {
        grid-column: span 4;
    }
  }